UseTab: AlignWithSpaces
TabWidth: 8
IndentWidth: 8
BracedInitializerIndentWidth: 8
ContinuationIndentWidth: 4
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AlignAfterOpenBracket: DontAlign
BreakBeforeBinaryOperators: All
ColumnLimit: 0
QualifierAlignment: Left
IncludeBlocks: Regroup
IndentPPDirectives: BeforeHash
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: CaseInsensitive
IndentAccessModifiers: false
AccessModifierOffset: -8
