BasedOnStyle: LLVM
UseTab: AlignWithSpaces
TabWidth: 8
IndentWidth: 8
ContinuationIndentWidth: 8
AlignArrayOfStructures: Right
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: AllDefinitions
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: All
ColumnLimit: 0
QualifierAlignment: Left
IncludeBlocks: Regroup
IndentPPDirectives: BeforeHash
InsertTrailingCommas: Wrapped
KeepEmptyLinesAtTheStartOfBlocks: false
RemoveBracesLLVM: true
SeparateDefinitionBlocks: Always
SortIncludes: CaseInsensitive
