BasedOnStyle: LLVM
UseTab: Always
TabWidth: 8
IndentWidth: 8
ContinuationIndentWidth: 4
AlignEscapedNewlines: Left
AlignOperands: DontAlign
AlignAfterOpenBracket: DontAlign
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: AllDefinitions
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Linux
ColumnLimit: 0
QualifierAlignment: Left
IncludeBlocks: Regroup
IndentPPDirectives: BeforeHash
InsertTrailingCommas: Wrapped
KeepEmptyLinesAtTheStartOfBlocks: false
RemoveBracesLLVM: true
SeparateDefinitionBlocks: Always
SortIncludes: CaseInsensitive
