BasedOnStyle: LLVM
UseTab: ForIndentation
TabWidth: 8
IndentWidth: 8
ContinuationIndentWidth: 4
AlignEscapedNewlines: Left
AlignOperands: DontAlign
AlignAfterOpenBracket: DontAlign
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: AllDefinitions
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Linux
ColumnLimit: 0
QualifierAlignment: Left
IncludeBlocks: Regroup
IndentPPDirectives: BeforeHash
KeepEmptyLinesAtTheStartOfBlocks: false
InsertBraces: true
SeparateDefinitionBlocks: Always
SortIncludes: CaseInsensitive
