input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:rctrl_toggle,grp_led:scroll,ctrl:nocaps"
        }

        numlock

        repeat-delay 200
        repeat-rate 50
    }

    mouse {
        accel-profile "flat"
    }

    focus-follows-mouse max-scroll-amount="0%"
}

output "PNP(AOC) 24B2W1 0x00001610" {
    mode "1920x1080"
    position x=0 y=0
}

output "Microstep MSI MP273Q E2 PB6H544A00110" {
    mode "2560x1440"
    position x=1920 y=0
}

layout {
    gaps 16

    focus-ring {
        width 2
        active-color "#989898"
        inactive-color "#1e1e1e"
    }

    shadow {
        on
    }
}

window-rule {
    geometry-corner-radius 2
    clip-to-geometry true
    open-maximized true
}

window-rule {
    match app-id="foot"
    open-maximized false
}

spawn-at-startup "waybar"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+T { spawn "foot"; }
    Mod+D { spawn "fuzzel"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+H { focus-column-or-monitor-left; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-or-monitor-right; }

    Mod+Ctrl+H { move-column-left-or-to-monitor-left; }
    Mod+Ctrl+J { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+L { move-column-right-or-to-monitor-right; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-window-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-window-to-workspace-up; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R       { switch-preset-column-width; }
    Mod+F       { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F  { expand-column-to-available-width; }

    Mod+C      { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Print      { screenshot; }
    Alt+Print  { screenshot-window; }
    Ctrl+Print { screenshot-screen; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
}
