#
# ~/.inputrc
#

set editing-mode vi
set show-mode-in-prompt on
$if term=linux
	set vi-ins-mode-string \1\e[?0c\2
	set vi-cmd-mode-string \1\e[?8c\2
$else
	set vi-ins-mode-string \1\e[6 q\2
	set vi-cmd-mode-string \1\e[2 q\2
$endif

set completion-ignore-case on
set show-all-if-ambiguous on

# color files by types
set colored-stats on
# append char to indicate type
set visible-stats on
# mark symlinked directories
set mark-symlinked-directories on
# color the common prefix
set colored-completion-prefix on
# color the common prefix in menu-complete
set menu-complete-display-prefix on
